# Klassifikation von Spam Mails und E-Maildaten

### Imports

In [1]:
import pandas as pd
import openai
import time
import replicate
import os
import tiktoken
import toml

### Tokens und Kosten

In [2]:
def num_tokens_from_string(string: str, encoding_name: str) -> int:
    encoding = tiktoken.encoding_for_model(encoding_name)
    num_tokens = len(encoding.encode(string))
    return num_tokens

In [3]:
def kostenrechner(anzahl_input,anzahl_output):
    if llm == 'gpt-4':
        kosten = ((0.03/1000)*anzahl_input)+((0.06/1000)*anzahl_output)
    elif llm == 'gpt-3.5-turbo':
        kosten = ((0.0015/1000)*anzahl_input)+((0.002/1000)*anzahl_output)
    elif llm == 'replicate/llama70b-v2-chat:e951f18578850b652510200860fc4ea62b3b16fac280f83ff32282f87bbd2e48':        
        kosten = elapsed_time_ges*(0.001400)
    return kosten

### Keys

In [4]:
# Laden Sie die .toml-Datei
data = toml.load("../.streamlit/secrets.toml")

# Werte auslesen
replicate_api_token = data["API_TOKEN"]["replicate_api_token"]
os.environ['REPLICATE_API_TOKEN'] = replicate_api_token
openai_api = data["API_TOKEN"]["openai_api"]
openai.api_key = openai_api

In [5]:
llm='gpt-3.5-turbo' #gpt-3.5-turbo, gpt-4, replicate/llama70b-v2-chat:e951f18578850b652510200860fc4ea62b3b16fac280f83ff32282f87bbd2e48

### promt generierung

In [6]:
def generate_gpt_response(prompt_input):
    messages=[{f"role": "system", "content": context}]
    messages.append({"role": "user", "content": prompt_input})
    if 'gpt' in llm:
        response = openai.ChatCompletion.create(model=llm, messages=messages)
        full_response = response["choices"][0]["message"]["content"]
    else:
        response = replicate.run(llm, 
                           input={"prompt": "You are a helpful assistant. You do not respond as 'User' or pretend to be 'User'. You only respond once as 'Assistant'. "+ context + prompt_input +" Assistant: ",
                                  "temperature":0.1, "top_p":0.9, "max_length":4097, "repetition_penalty":1})
        full_response = ''
        for item in response:
            full_response += item
    return full_response

### Substet

In [7]:
def subset(df,  anzahl, cat_label):
    # Liste zum Speichern der ausgewählten DataFrames
    dfs = []
    # Gruppieren nach 'Kategorie' und nehmen von 5 Stichproben für jede Gruppe
    for name, group in df.groupby(cat_label):
        dfs.append(group.sample(min(len(group), anzahl)))

    # Kombinieren aller gesammelten DataFrames
    con_df = pd.concat(dfs)
    
    return con_df.reset_index(drop=True)

### Test News

In [8]:
context="I will send you titles of newspaper articles in English now, which you should classify. The categories are: [BUSINESS, ENTERTAINMENT, HEALTH, NATION, SCIENCE, SPORTS, TECHNOLOGY, WORLD]. Always respond with the respective category. Your answer should only be one word. \n The Title starts here:"

In [9]:
df = pd.read_csv('../Data/labelled_newscatcher_dataset.csv', delimiter=';')
df = df.iloc[:, [0, 4]]

In [10]:
subset_df = subset(df,10, "topic")

In [11]:
TP = 0
Ges = len(subset_df)
ges_len_input = 0
ges_len_responce = 0
elapsed_time_ges = 0
# Iterieren über die "Text"-Spalte und Drucken jedes Eintrags
for index,text_entry in enumerate(subset_df['title']):
    cat = subset_df["topic"].iloc[index]
    if 'gpt'in llm:
        len_input = num_tokens_from_string(text_entry, llm)
        ges_len_input += len_input
    else:
        ges_len_responce = 0
    #ausführung Modell + Zeitstoppen
    start_time = time.time()
    responce = generate_gpt_response(text_entry)
    end_time = time.time()
    elapsed_time = end_time - start_time
    elapsed_time_ges += elapsed_time
    if 'gpt'in llm:
        len_output_tokens = num_tokens_from_string(responce, llm)
        ges_len_responce += len_output_tokens
    else:
        ges_len_responce = 0
    print(f"Class = {cat}, Responce = {responce}, Text = {text_entry}")
    if cat == responce:
        TP+=1
Acc = TP/Ges
kosten = kostenrechner(ges_len_input, ges_len_responce)
print(f"The accuracy of the model is: {Acc} and cost: {kosten} and execution time: {elapsed_time_ges}")

Class = BUSINESS, Responce = BUSINESS, Text = Sterling nears 5-month high vs dollar amid impasse on U.S. relief package
Class = BUSINESS, Responce = BUSINESS, Text = Global Steam Boilers Market for Thermal Power Plant & Oil Refinery, 2020-2025 - ResearchAndMarkets.com
Class = BUSINESS, Responce = BUSINESS, Text = New York Accuses Egg Producer of Price Gouging in Pandemic
Class = BUSINESS, Responce = BUSINESS, Text = Canadian Natural Resources buys Painted Pony for $461 million to boost Western Canada acreage
Class = BUSINESS, Responce = TECHNOLOGY, Text = Facebook, Snap Inc held talks to buy TikTok rival Dubsmash: Report
Class = BUSINESS, Responce = BUSINESS, Text = Real Rates Reversal Hitting Big Trades Including Gold and Nasdaq
Class = BUSINESS, Responce = BUSINESS, Text = Israeli jeweller creates gold and diamond-encrusted mask that costs $1.5 million
Class = BUSINESS, Responce = BUSINESS, Text = Electric Valve Market Challenges and Growth Factor By 2026| VETEC Ventiltechnik GmbH, Agromatic Regelungstechnik GmbH, AIRTEC Pneumatic
Class = BUSINESS, Responce = BUSINESS, Text = Sanjeev Gupta's GFG Alliance to buy Tasmania's TEMCO smelter from South32
Class = BUSINESS, Responce = BUSINESS, Text = Technical View: Nifty forms bullish candle, be cautious with stop below 10,900 on long-side bets
Class = ENTERTAINMENT, Responce = ENTERTAINMENT, Text = Ellen DeGeneres horror story revealed by former waitress
Class = ENTERTAINMENT, Responce = ENTERTAINMENT, Text = BBNaija 2020: Prince tells Tolanibaj he is fed up of the love triangles in the house – Pulse Nigeria - Nigeria News Links | Today's Updates
Class = ENTERTAINMENT, Responce = ENTERTAINMENT, Text = Sarajevo Film Festival Examines Wartime Solidarity and Struggle
Class = ENTERTAINMENT, Responce = ENTERTAINMENT, Text = One Avengers Villain Could Have Had A Bigger Endgame Role
Class = ENTERTAINMENT, Responce = ENTERTAINMENT, Text = 'This Is Paris' Trailer Is A Revealing Look At The Real Paris Hilton
Class = ENTERTAINMENT, Responce = ENTERTAINMENT, Text = First Dates producers to ban hugging and kissing for upcoming RTÉ series
Class = ENTERTAINMENT, Responce = ENTERTAINMENT, Text = Michelle Money Says Clare Crawley and Dale Moss Were NOT Talking Before 'The Bachelorette'
Class = ENTERTAINMENT, Responce = ENTERTAINMENT, Text = Ghislaine Maxwell ‘joked about making Princess Diana cry’ after meeting
Class = ENTERTAINMENT, Responce = ENTERTAINMENT, Text = Kiefer Sutherland says he is ‘always open’ to revisit 24
Class = ENTERTAINMENT, Responce = HEALTH, Text = “Cancer scare has left me childless” Wema Sepetu
Class = HEALTH, Responce = HEALTH, Text = Massachusetts reports 14 new coronavirus deaths, 286 cases on Sunday as US tops 5 million cases
Class = HEALTH, Responce = HEALTH, Text = Temporary mobile overdose prevention site opens outside Lethbridge Shelter and Resource Centre
Class = HEALTH, Responce = HEALTH, Text = Study says rice linked to 50000 avoidable deaths a year
Class = HEALTH, Responce = ENTERTAINMENT, Text = Lose a Stone in 21 Days review – a diet show that's hard to stomach
Class = HEALTH, Responce = HEALTH, Text = Some Delhi hospitals seeing COVID re-emergence in recovered patients
Class = HEALTH, Responce = HEALTH, Text = US coronavirus death toll set to reach 200,000 by Labor Day, CDC forecast says
Class = HEALTH, Responce = NATION, Text = French new COVID-19 cases above 3,000 for second day
Class = HEALTH, Responce = HEALTH, Text = Health: 'Do you really need to party?' WHO asks world's youth
Class = HEALTH, Responce = HEALTH, Text = DeKalb officials detect West Nile virus in 5 locations
Class = HEALTH, Responce = HEALTH, Text = Can Vitamin D rich foods lower the risk of Coronavirus infection?
Class = NATION, Responce = HEALTH, Text = PH Covid Cases Near 140K – The Manila Times
Class = NATION, Responce = NATION, Text = Fraud: Kwara court orders man to control traffic for three months
Class = NATION, Responce = NATION, Text = Clare swim ban could last until Saturday - Council
Class = NATION, Responce = NATION, Text = Upset by impending divorce, woman allowed cigarette to start blaze on husband's bed
Class = NATION, Responce = NATION, Text = James R. Thompson, Longest-Serving Governor of Illinois, Dies at 84
Class = NATION, Responce = NATION, Text = 2023: Ngige reveals APC’s power rotation agreement
Class = NATION, Responce = HEALTH, Text = FG open to development, distribution of COVID-19 vaccine — Osinbajo
Class = NATION, Responce = HEALTH, Text = Coronavirus is Spreading Faster in Jakarta, East Java
Class = NATION, Responce = NATION, Text = Mau skirmishes disrupt plan to mark forest boundary
Class = NATION, Responce = NATION, Text = Raj Bhavan under surveillance, will do everything to protect its sanctity: Bengal Governor
Class = SCIENCE, Responce = SCIENCE, Text = 8 Thrilling Martian Postcards to Celebrate NASA Curiosity Mars Rover's Anniversary
Class = SCIENCE, Responce = SCIENCE, Text = Cool NASA illustrations of Jupiter's lightning and atmospheric "mushballs"
Class = SCIENCE, Responce = SCIENCE, Text = Dingoes have gotten bigger over the last 80 years - and pesticides might be to blame
Class = SCIENCE, Responce = SCIENCE, Text = New kind of Higgs boson events detected at the Large Hadron Collider
Class = SCIENCE, Responce = SCIENCE, Text = This 'Terror Crocodile' Had Teeth The Size of Bananas, Perfect For Eating Dinosaurs
Class = SCIENCE, Responce = SCIENCE, Text = Every Sumatran rhino has died in Malaysia. Scientists want to bring them back with cloning technology
Class = SCIENCE, Responce = SCIENCE, Text = Hope Probe completes ‘Perfect’ Trajectory Correction Manoeuvre, TCM1
Class = SCIENCE, Responce = SCIENCE, Text = Rare ‘Boomerang’ Earthquake Observed Along Atlantic Ocean Fault Line
Class = SCIENCE, Responce = SCIENCE, Text = SpaceX Launches 59 Satellites Into Space as Part of StarLink Project
Class = SCIENCE, Responce = SCIENCE, Text = Ancient 'terror crocodile' had teeth the size of bananas
Class = SPORTS, Responce = SPORTS, Text = England great Lawrence Dallaglio irked by All Blacks' unwillingness to travel
Class = SPORTS, Responce = SPORTS, Text = Pirelli: Softer tyres not a risk at second Silverstone race
Class = SPORTS, Responce = SPORTS, Text = Liverpool midfielder Georginio Wijnaldum 'is still waiting for contract talks to begin'
Class = SPORTS, Responce = SPORTS, Text = NBA TV Ratings August 2020: How have Donald Trump's comments on Boycotting NBA affected its...
Class = SPORTS, Responce = SPORTS, Text = Sheffield United close in on £18.5m signing of Bournemouth keeper Aaron Ramsdale
Class = SPORTS, Responce = SPORTS, Text = “It Takes its Toll”: Toto Wolff Unsure of Continuing as Mercedes F1’s Team Principal
Class = SPORTS, Responce = SPORTS, Text = Man Utd transfer target compared to Ryan Giggs with Ole Gunnar Solskjaer eager for deal
Class = SPORTS, Responce = SPORTS, Text = Pick Six: Storylines to follow during 2020 NFL season
Class = SPORTS, Responce = SPORTS, Text = How Chelsea could line up against Bayern Munich in Champions League tie
Class = SPORTS, Responce = SPORTS, Text = Jadon Sancho move in doubt as Man Utd meet with two huge obstacles
Class = TECHNOLOGY, Responce = ENTERTAINMENT, Text = Kylie Minogue: I didn't do very well keeping fit in lockdown
Class = TECHNOLOGY, Responce = ENTERTAINMENT, Text = Dr Disrespect Makes His Comeback
Class = TECHNOLOGY, Responce = ENTERTAINMENT, Text = Monster Hunter: World Has Been, Well, a Monstrous Hit
Class = TECHNOLOGY, Responce = TECHNOLOGY, Text = watchOS 7 public beta is out now – here's what's in it
Class = TECHNOLOGY, Responce = BUSINESS, Text = Amazon Freedom Sale Follows Prime Day, Scheduled From August 8 to 11
Class = TECHNOLOGY, Responce = TECHNOLOGY, Text = Patent for DJI Mavic 3 leaked?
Class = TECHNOLOGY, Responce = SCIENCE, Text = Using Air to Amplify Light in Hollow-Core Optical Fibers
Class = TECHNOLOGY, Responce = TECHNOLOGY, Text = Here are two different ways to get the Samsung Galaxy Tab S6 Lite at a discount
Class = TECHNOLOGY, Responce = ENTERTAINMENT, Text = Mario Kart Tour's Pirate Tour Adds King Bob-Omb And Pirate Bowser Jr.
Class = TECHNOLOGY, Responce = TECHNOLOGY, Text = How the Latest iPhone Update Totally Ruined the CarPlay Experience
Class = WORLD, Responce = NATION, Text = Obstacles to charging police in Breonna Taylor case: experts
Class = WORLD, Responce = ENTERTAINMENT, Text = OMN: An 'alien' star in Ethiopia's skewed media universe is 'cancelled'
Class = WORLD, Responce = NATION, Text = Over 20 fires break out in southern Israel due to incendiary balloons
Class = WORLD, Responce = SCIENCE, Text = 'Paradise island' hosts untold botanical treasures
Class = WORLD, Responce = HEALTH, Text = India hits 2 million coronavirus cases as health volunteers strike
Class = WORLD, Responce = SCIENCE, Text = Earthquake info : M4.2 earthquake on Saturday, 8 August 2020 02:11 UTC / 13 km WSW of Stanley, Idaho (USA) - 48 experience reports
Class = WORLD, Responce = NATION, Text = 'Drug smuggler' cat caught with heroin, SIM cards escapes Sri Lankan prison
Class = WORLD, Responce = BUSINESS, Text = Egypt represents 40% of volume of trade between Russia, Africa: Egypt amb. to Russia
Class = WORLD, Responce = WORLD, Text = U.S. seizes digital currency accounts used by militant groups
Class = WORLD, Responce = NATION, Text = Dutch ambassador’s wife dies after Beirut blast
The accuracy of the model is: 0.725 and cost: 0.0023485 and execution time: 110.20952105522156

### Test Spam

In [12]:


context="Please identify the content that follows the word 'Subject' as either harmless or spam. Reply with 'ham' for harmless and 'spam' for spam. Your answer should only be one word."

In [13]:
df_spam = pd.read_csv('../Data/spam_ham_dataset.csv', sep = ",")

df_spam=df_spam[["label","text"]]

In [14]:
df_spam

     label                                               text
0      ham  Subject: enron methanol ; meter # : 988291\r\n...
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3     spam  Subject: photoshop , windows , office . cheap ...
4      ham  Subject: re : indian springs\r\nthis deal is t...
...    ...                                                ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169   ham  Subject: industrial worksheets for august 2000...
5170  spam  Subject: important online banking alert\r\ndea...

[5171 rows x 2 columns]

In [15]:
df_spam_subset = subset(df_spam, 10,"label")

In [16]:
df_spam_subset

   label                                               text
0    ham  Subject: hpl nom for february 9 , 2001\r\n( se...
1    ham  Subject: deal 338634 meter 985077\r\nthe above...
2    ham  Subject: fw : intrastate gas\r\nfyi : from leg...
3    ham  Subject: cornhusker\r\ndaren - - - ( re : the ...
4    ham   Subject: fun pics . htm\r\n-\r\n- fun pics . htm
5    ham  Subject: union carbide , 96002201\r\nfax of co...
6    ham  Subject: fw : tufco deal 108058\r\ndarin ,\r\n...
7    ham  Subject: assistant - realignment of duties\r\n...
8    ham  Subject: goldston outage\r\nper kevin at golds...
9    ham  Subject: point change to tagg deal 589257\r\nf...
10  spam  Subject: anxiety ? valium and x . anax shipped...
11  spam  Subject: high - quality medication , low rates...
12  spam  Subject: save 70 percent on super viagra 24663...
13  spam  Subject: would $ 996 , 449 help your fa . mily...
14  spam  Subject: brand new teenager peeing\r\nyou don ...
15  spam  Subject: \r\nif you are paying more than 3 . 1...
16  spam  Subject: fwd : e b a y - tips , tricks and sec...
17  spam  Subject: order prescript & ion dru # gs online...
18  spam  Subject: shape your wood .\r\nclick here to or...
19  spam  Subject: fw : nasty slut getting fucked hard\r...

In [17]:
TP = 0
Ges = len(df_spam_subset)
ges_len_input = 0
ges_len_responce = 0
elapsed_time_ges = 0
# Iterieren über die "Text"-Spalte und Drucken jedes Eintrags
for index,text_entry in enumerate(df_spam_subset['text']):
    if 'gpt'in llm:
        len_input = num_tokens_from_string(text_entry, llm)
        ges_len_input += len_input
    else:
        len_input = num_tokens_from_string(text_entry, "gpt-3.5-turbo")
        ges_len_responce = 0
    if len_input>4097:
        text_entry = text_entry[:-int((1-((4097/len_input)-0.05))*len(text_entry))]

    cat = df_spam_subset["label"].iloc[index]
    #ausführung Modell + Zeitstoppen
    start_time = time.time()
    responce = generate_gpt_response(text_entry)
    end_time = time.time()
    elapsed_time = end_time - start_time
    elapsed_time_ges += elapsed_time

    if 'gpt'in llm:
        len_output_tokens = num_tokens_from_string(responce, llm)
        ges_len_responce += len_output_tokens
    else:
        ges_len_responce = 0
    print(f"Class = {cat}, Responce = {responce}")
    if cat == responce:
        TP+=1
kosten = kostenrechner(ges_len_input, ges_len_responce)
Acc = TP/Ges
print(f"The accuracy of the model is: {Acc} and cost: {kosten} and execution time: {elapsed_time_ges}")

Class = ham, Responce = ham
Class = ham, Responce = spam
Class = ham, Responce = ham
Class = ham, Responce = ham
Class = ham, Responce = spam
Class = ham, Responce = spam
Class = ham, Responce = ham
Class = ham, Responce = ham
Class = ham, Responce = ham
Class = ham, Responce = ham
Class = spam, Responce = spam
Class = spam, Responce = spam
Class = spam, Responce = spam
Class = spam, Responce = spam
Class = spam, Responce = spam

In [ ]:
# Liste zum Speichern der ausgewählten DataFrames
dfs = []

# Gruppieren nach 'Kategorie' und nehmen von 5 Stichproben für jede Gruppe
for name, group in df_spam.groupby('Kategorie'):
    dfs.append(group.sample(min(len(group), 5)))

# Kombinieren aller gesammelten DataFrames
subset_spam_df = pd.concat(dfs)